h1 {
    text-align: center;
    color: blue;
    width: 400px;
}
h2 {
    color: green;
    text-align: center;
    width: 400px;
    font-style: normal;
    font-family: 'Times New Roman';
}
p {
    text-indent: 50px;
    width: 400px;
    text-align: justify;
    font-family: 'Times New Roman';
}
i {
    color: green;
}
li {
    width: 400px;
}