.eee, .zzz {
    font-family: Arial;
    line-height: 1.5;
}
.eee {
    font-size: 20px;
}
.zzz {
    font-size: 30px;
}
.ee, .gg, .zz {
    text-align: center;
    font-family: Arial;
}
.ee {
    font-size: 20px;
}
.zz {
    font-size: 30px;
}
.gg {
    font-size: 35px;
}
.header {
    color: red;
}
h2.header {
    font-size: 40px;
}
h3.header {
    font-size: 30px;
}
.eeee i {
    color: red;
}