table {
    width: 500px;
    height: 300px;
}
td {
    font-weight: bold;
    text-align: center;
}
th {
    font-weight: normal;
}
#h2_36 {
    font-style: italic;
}
#h1 {
    font-size: 50px;
    text-align: center;
}
#h2 {
    font-size: 40px;
    font-weight: normal;
}
#p {
    font-size: 30px;
}
#Arial {
    font-family: Arial;
}
#Georgia {
    font-family: Georgia;
}
#Verdana {
    font-family: Verdana;
}
#Trebuchet {
    font-family: "Trebuchet MS";
}
#Impact {
    font-family: Impact;
}
#Arial_Black {
    font-family: "Arial Black";
}
#Comic_Sans {
    font-family: "Comic Sans MS";
}
#Courier {
    font-family: "Courier New";
}
#text {
    width: 100px;
    font-size: 30px;
    line-height: 45px;
}
#text2 {
    width: 100px;
    font-size: 30px;
    line-height: 1.5;
}

